<div class="container" id="about">
	<div class="title">
		<h1>About Me</h1>
	</div>
	<div class="row">
		<div class="image-container col-lg-4 col-md-4 col-sm-2">
			<%= image_tag("profile.png", class: "img-responsive my_image", width: "100%") %>
		</div> <!-- end image-container -->
		<div class="content col-lg-8 col-md-8 col-sm-4">
			
			<p>Find me in app/views/static_pages/about.html.erb</p>
		</div>
	</div>
</div>
