// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import url(http://db.onlinewebfonts.com/c/0a00c04029f465a305f31054da5e0b07?family=cinnamon+cake);
body{
	background-image: url(bg7.jpg);
	background-attachment: fixed;
	background-size: cover;
	//margin: 0 15%;
}
.container{
	// background-image: url(bg7.jpg);
	// background-attachment: fixed;
	margin: 0% 20%;
}
 h1{
	padding-top: 7%;
}
.title{
	text-align: center;
}
.navbar-brand{
	padding-left: 3%;
	font-size: 2.5em;
	font-family: cinnamon cake, Zapf Chancery, cursive, helvetica, sans-serif;
	font-weight: bold;
}
.container-fluid{
	margin: 0;
}
h2{
 color: #cc6699;
}
// .image-container{
// 	margin: 0 5%;
// }
// #about{
// 	margin: 10%;
// }
#about .content{
	padding-left: 10%;
}
//#ffff4d
// .navbar-nav{
// 	padding-top: 5%;
// }
// .navbar{
// 	position:relative;
// }
.navbar-inverse{
	//margin 10% 0 0;
	// background-image: url("4.jpg");
	// background-size: cover;

	background-color: #52527a;//#ff944d;
}
.row{
	display: inline-block;
}
.navbar-inverse .navbar-brand {
    color: #ffe066;
}
.navbar-nav{
	padding-right: 2%;
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 1.6em;
    color: #ffb3b3;
    font-weight: 500;
} 
// .image-container{
// 	margin: 5% 20%;
// }
.container h1{
	color: salmon;//#4985D6;
}
//contact
#contact h1{
	font-size: 3em;
}
#contact .data, label{
	color: #339966;
	font-size: 1.3em;
}
.email a{
	font-weight: bold;
}
#contact .row{
	padding: 0% 2%;
}
#contact p{
	font-weight: bold
}
.social img{
	display: inline-block;
}
.social img:hover{
    opacity: 0.6;
}
// .message{
// 	padding-top: 1%;
// }
#contact .col-md-6{
	padding: 5% 2% 0;
}
form{
	padding-top: 2%;
}
.glyphicon:hover{
	color: #FFCC00;
}
#map {
  height: 300px;
  width: 100%;
}
//***************** footer *******************
footer{
	position:fixed;
   	bottom:0;
   	width: 100%;
}
.ftr{
	background-color: salmon;
	text-align: center;
	opacity: 0.7;
}
.ftr p{
	color: white;

}
.ftr .row{
	display: inline-block;
	padding: 0 2%;
}